.container {
  max-width: 120rem;
  margin: 8rem auto;
  background-color: $Grey-light1;
  box-shadow: $box-shadow-huge;

  min-height: 50rem;
}

.header {
  font-size: 1.4rem;
  height: 7rem;
  background: $white;
  border-bottom: $line;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content {
  display: flex;
}

.sidebar {
  background: $Grey-dark1;
  flex: 0 0 18%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hotel-view {
  background: $white;
  flex: 1;
}

.detail {
  display: flex;
  padding: 4.5rem;
  background: $Grey-light1;
  border-bottom: $line;
  font-size: 1.4rem;
}

.description {
  background: $white;
  box-shadow: $box-shadow-subtle;
  padding: 3rem;
  flex: 0 0 60%;
  margin-right: 4.5rem;
}

.user-reviews {
  flex: 1;

  display: flex;
  flex-direction: column;
  align-items: center;
}
